.quizz-top{
    margin: 0 auto;
    margin-top: 69px;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR8_B-4XkeeqKugS1cb2NS1T0pKsQtb9sf7A&usqp=CAU");
    background-size: 100% 100%;
    height: 142px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizz-top span{
    color: #fff;
    font-size: 19px;
}
.quizz-question{
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 4px;
    background-color: #fff;
    width: 341px;
    height: 100%;
}
.quizz-question div{
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    color: #fff;

}
.question-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 13px;
}
.question-option{
    margin-bottom: 12px;
}

.question-option p {
    font-size: 13px;
    font-weight: 700;
}

.question-option img{
    width: 160px;
    height: 113px;
    margin: 0px 0px 5px 0px;
}
.not-selected{
    opacity: 0.5;
}
.correct-answer{
    color: #009C22;
}
.wrong-answer{
    color: #FF4B4B;
}

.container-finalresult-img{
    background-color: #fff;
    padding: 18px;
    margin: 18px 0px;
}
.final-result{
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 9px;
}
.result-img{
    width: 100%;
    color: #484848;
    font-weight: 700;
}
.result-img img{
    width: 100%;
    height: 235px;
    margin-bottom: 18px;
}
.result-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset-quizz{
    height: 44px;
    width: 220px;
    color: #fff;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    margin-top: 40px;
    margin-bottom: 12px;  
}
.back-home{
    outline: 0;
    height: 44px;
    width: 220px;
    border: none;
    color: #818181;
    font-size: 18px;
    background-color: inherit;
    margin-bottom: 12px;
}

p {
    word-break: break-all;
}

@media (min-width:1100px) {
    .quizz-top {
        width:100%;
        height: 227px;
    }

    .quizz-top span {
        font-size: 39px;
    }

    .quizz-question {
        width: 690px;
    }

    .question-option img{
        width: 328px;
        height: 174px;
    }

    .question-option p {
        font-size: 20px;
    }
}